h1{
    text-align: center;
    padding-top: 5;    
}
div{
    text-align: center;
}

.fa-1x {
  font-size: 1.5rem !important;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer !important;
  }
  .dark-blue-text {
  color: #0A38F5 !important;
  }
  .dark-pink-text {
  color: #AC003A !important;
  }
  .dark-amber-text {
  color: #ff6f00 !important;
  }
  .dark-teal-text {
  color: #004d40 !important;
  }

body {
    text-align: center;
}

/*  edit by alex survey question larger */
#q1 {
  font-size: 30px;
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  top: 0px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

.likert li{
  list-style: none;
  display: inline;
}
#question2 {
  display: none;
}

/* edit by Alex */
#bttn {
  background-color: #13CA25;
  font-size: 16px;
  color: white;
  border-color: #11B221;
  border-radius: 4px;
  width: 100px;
  height: 60px;
}

body {
  background-image: url("https://wallpaperaccess.com/full/130061.png");
  margin: 0px;
  }
/* edit by alex */

/* new edit efosa */
#question2 {
  display: none;
}
#challenge {
  display: none;

}
#next {
  display: none;
}