h1{
    text-align: center;
    padding-top: 5;    
}
div{
    text-align: center;
}

.fa-1x {
  font-size: 1.5rem !important;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer !important;
  }
  .dark-blue-text {
  color: #0A38F5 !important;
  }
  .dark-pink-text {
  color: #AC003A !important;
  }
  .dark-amber-text {
  color: #ff6f00 !important;
  }
  .dark-teal-text {
  color: #004d40 !important;
  }

  #q1 {
    font-size: 30px;
  }

.likert li{
  list-style: none;
  display: inline;
}
#question2 {
  display: none;
  font-size: 30px;
}

/* edit by Alex */
#bttn {
  background-color: rgb(73, 71, 71);
  font-size: 16px;
  color: white;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  width: 100px;
  height: 60px;
}

body {
  background-image: url("https://wallpaperaccess.com/full/130061.png");
  margin: 0px;
}
/* edit by alex */

/* new edit efosa */

#challenge {
  display: none;

}
#next {
  display: none;
}